<div id="page">
  <div id="content">
    <h1>Sven Fuchs</h1>
    <ul id="contact">
      <li><a href="http://github.com/svenfuchs">http://github.com/svenfuchs</a></li>
      <li><a href="http://twitter.com/svenfuchs">http://twitter.com/svenfuchs</a></li>
      <li><a href="http://railsrankings.com/coders/sven-fuchs">http://railsrankings.com/coders/sven-fuchs</a></li>
      <li><a href="http://workingwithrails.com/person/9963-sven-fuchs">http://workingwithrails.com/person/9963-sven-fuchs</a></li>
      <li><a href="mailto:svenfuchs@artweb-design.de">svenfuchs@artweb-design.de</a></li>
      <li><a href="irc://irc.freenode.net">svenfuchs on irc.freenode.net</a></li>
    </ul>

    <h2>Recent Posts</h2>
    <ul class="posts">
      <% collection[0,15].each do |post| %>
        <li class="hentry">
          <%= link_to(post.title, [blog, post], :class => "entry-title", :rel => "bookmark") %>
          <abbr title="<%= post.published_at %>" class="updated">
            <%=l(post.published_at, :format => :post) %>
          </abbr>
          <span class="entry-content">
            <%= truncate(strip_tags(post.body_html), :length => 500).html_safe %>
          </span>
        </li>
      <% end %>
    </ul>
    <p><%= link_to('Older posts', 'archive') %> &rarr;</p>
  </div>
  <div class="push"></div>
</div>

<div id="footer">
  <address class="vcard">
  	<span class="fn">Sven Fuchs</span>,
  	<span class="adr">
  		<a href="http://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=gr%C3%BCnberger+stra%C3%9Fe+65,+10245+friedrichshain,+berlin,+germany&amp;sll=51.151786,10.415039&amp;sspn=17.788663,36.738281&amp;ie=UTF8&amp;hq=&amp;hnear=Gr%C3%BCnberger+Stra%C3%9Fe+65,+Friedrichshain+10245+Berlin&amp;t=h&amp;z=16"><span class="street-address">Gr&uuml;nberger Str. 65</span></a>,
  		<span class="postal-code">10245</span>
  		<span class="locality">Berlin</span>,
  		<span class="country-name">Germany</span>,
  	  <a class="email" href="mailto:svenfuchs@artweb-design.de">svenfuchs@artweb-design.de</a>
  	  <a class="url" href="http://svenfuchs.com">http://svenfuchs.com</a>
    	<span class="tel">+49 (170) 80 34 77 3</span>
      <a class="hcard-download" href="http://feeds.technorati.com/contacts/referrer">vcard</a>
    </span>
  </address>
  <a href="http://feeds.feedburner.com/svenfuchs" class="feed right">Atom Feed</a>
</div>
